H5_SERVER_NAME=
H5_PROXY_HOST=
IOS_SERVER_NAME=
IOS_PROXY_HOST=
ANDROID_SERVER_NAME=
ANDROID_PROXY_HOST=
SOCKET_SERVER_NAME=
SOCKET_PROXY_HOST=

API_1_SERVER_NAME=
API_1_PROXY_HOST=
API_2_SERVER_NAME=
API_2_PROXY_HOST=
API_3_SERVER_NAME=
API_3_PROXY_HOST=
API_4_SERVER_NAME=
API_4_PROXY_HOST=
API_5_SERVER_NAME=
API_5_PROXY_HOST=

ADMIN_SERVER_NAME=
ADMIN_PROXY_HOST=
AGENT_SERVER_NAME=
AGENT_PROXY_HOST=
